spring:
  datasource:
    url: jdbc:mysql://localhost:3306/business_english?serverTimezone=UTC
    type: com.zaxxer.hikari.HikariDataSource
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 2

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true

  devtools:
    restart:
      enabled: false
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
server:
  port: 9090
#debug: true

file:
  save:
    path: E:/files/

default:
  headIco: headIco/default.jpg

